.navbar {
  height: 70px;
  //   border: 2px solid grey;
  display: flex;
  max-width: 1200px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  padding-inline: 30px;
  padding-block: 10px;
  align-items: center;
}
